<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>

    <h2><%= projectDetails.title %></h2>
    <p><a href="/edit-project/<%= projectDetails.project_id %>">Edit</a></p>
    
    <% 
        // Format the date in a user-friendly way
        const date = new Date(projectDetails.project_date);
        const formattedDate = date.toLocaleDateString('en-US', { 
            year: 'numeric', 
            month: 'long', 
            day: 'numeric' 
        });
    %>

    <p><strong>Date:</strong> <%= formattedDate %></p>
    <p><strong>Location:</strong> <%= projectDetails.location %></p>
    <p><strong>Sponsoring Organization:</strong> <a href="/organization/<%= projectDetails.organization_id %>"><%= projectDetails.organization_name %></a></p>
    <p>
        <strong>Categories:</strong> 
        <% if (categories.length === 0) { %>
            None
        <% } else { %>
            <% categories.forEach(category => { %>
                <a href="/category/<%= category.category_id %>" class="category-tag"><%= category.name %></a>
            <% }); %>
        <% } %>
        <a href="/assign-categories/<%= projectDetails.project_id %>">Edit Categories</a>
    </p>
    
    <p><strong>Description:</strong> <%= projectDetails.description %></p>
</main>
<%- include('partials/footer') %>
